.iconLinked:hover {
    color: #2867B2;
}

.iconGithub:hover {
    color: grey;
}

.iconMail:hover {
    color: lightblue;
}

a {
    color: inherit;
}

.image {
    border: black;
}

.resume:hover {
    text-decoration: none;
    color: lightblue;
}

.uwo {
    color: #46227C;
    background-color: inherit;

}